header{
    display: flex;
    justify-content: space-between;
    position:static;
}

.logo{
    padding-left: 3em;
    width: 350px;
    height: 80pt;
}

nav ul{
    list-style-type: none;
    padding: 1.5em 3em 0 0;
    text-decoration: none;
    display: flex;
}
