<!-- <div class="row">
  <div class="col-md-2"><img class="logo" src="../../assets/azlogo.jpg" alt="logo"></div>
  <div class="col-md-4">  </div>
  <div class="col-sm-6">
      <table class="table">
        <tr>
          <td>
        <a class="nav-item nav-link" [routerLink]="['/find-ride']" routerLinkActive="router-link-active" ><i class="fas fa-search"></i> Find a ride </a>
          </td>
          <td>
        <a class="nav-item nav-link" [routerLink]="['/offer-ride']" routerLinkActive="router-link-active"  ><i class="fas fa-plus-square"></i> Offer a ride</a>
          </td>
          <td>
        <a class="nav-item nav-link" [routerLink]="['/signup']" routerLinkActive="router-link-active" >Sign up</a>
          </td>
          <td>
        <a class="nav-item nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active"  >Log in</a>
          </td>
        </tr>
      </table>

      <nav class="navbar navbar-expand navbar-light">
        <a class="nav-item nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" ><i class="fas fa-search"></i> Find a ride </a>
        <a class="nav-item nav-link" [routerLink]="['/']" routerLinkActive="router-link-active"  ><i class="fas fa-plus-square"></i> Offer a ride</a>
        <a class="nav-item nav-link" [routerLink]="['/signup']" routerLinkActive="router-link-active" >Sign up</a>
        <a class="nav-item nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active"  >Log in</a>
      </nav>
  </div>

</div> -->

<header>
  <div class="logo">
    <a href=""><img class="logo" src="../../assets/rslogo.jpg" alt="logo"></a>
  </div>
  <nav>
    <ul>
      <li>
        <a class="nav-item nav-link" [routerLink]="['/find-ride']" routerLinkActive="router-link-active" ><i class="fas fa-search"></i> Find a ride </a>
      </li>
      <li>
        <a class="nav-item nav-link" [routerLink]="['/offer-ride']" routerLinkActive="router-link-active"  ><i class="fas fa-plus-square"></i> Offer a ride</a>
      </li>
      <li>
        <a class="nav-item nav-link" [routerLink]="['/signup']" routerLinkActive="router-link-active" >Sign up</a>
      </li>
      <li>
        <a class="nav-item nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active"  >Log in</a>
      </li>
    </ul>
  </nav>
</header>
