<div class=" row">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
      <div class="form">
          <div class="form-group">
            <h2 class="text-center">Find a ride</h2>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="source" #searchSrc [(ngModel)]="source" placeholder="Leaving from">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="place" #searchDest [(ngModel)]="destination" placeholder="Going to">
          </div>
          <div class="form-group">
            <input type="date" class="form-control">
          </div>
          <div class="form-group">
              <input type="time" class="form-control">
          </div>
          <div class="form-group text-center">
            <button class="btn btn-info">Search</button>
          </div>
        </div>
  </div>
  <div class="col-sm-4">

  <agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="true"
  (mapClick)="mapClicked($event)">

  <agm-direction  [origin]="origin" [destination]="dest">
  </agm-direction>
  <agm-marker
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)">

    <agm-info-window>
      <strong>InfoWindow content</strong>
    </agm-info-window>

  </agm-marker>

  <!-- <agm-circle [latitude]="lat + 0.3" [longitude]="lng"
      [radius]="5000"
      [fillColor]="'red'"
      [circleDraggable]="true"
      [editable]="true">
  </agm-circle> -->

</agm-map>
  </div>
  <div class="col-sm-2"></div>
</div>
