<div class="myDiv col-md-12 container">
    <form class="box" action="" method="post">
      <h1>Register Here</h1>
      <input type="text" required name="firstName" placeholder="First Name">
      <input type="text" required name="lastName" placeholder="Last Name">
      <input type="email" required name="email" placeholder="Email">
      <input type="password" required name="password" placeholder="Password">
      <input type="password" required name="confirmPassword" placeholder="Confirm Password">
      <input type="submit" name="" value="Register">
    </form>
</div>
