.myDiv{
    margin: 0;
    padding: 0;
    position:absolute ;
    height: 100%;
    width: 100%;
    background-image: url("../../assets/car1.jpeg");
    background-size: cover;
    background-position: center;
}

.box{
    width: 40%;
    padding: 40px;
    position: absolute;
    top: 80px;
    left: 80px;
    background: transparent;
    text-align: center;
}

.box h1{
    color: white;
    font-weight: 500px;
}

.box input[type = "text"], .box input[type = "password"],.box input[type = "email"]{
    border: 0;
    display: block;
    margin: 15px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 10px;
    width: 300px;
    outline: none;
    color: black;
    border-radius: 14px;
    transition: 0.25s;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus,.box input[type = "email"]:focus{
    width: 350px;
    border-color: gold;

}

.box input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type = "submit"]:hover{
    background: #2ecc71;
}

.box .message{
    margin: 15px 0 0;
    color: aliceblue;
    font-size: 12px;
}

.box .message a{
    color: floralwhite;
    font-size: 15px;
}
